In [2]:
import numpy as np
import pandas as pd

In [4]:
# data
my_dict = {
  'kor': {
    'a': 10, 
    'b': 30,
    'c': 50,
    'd': 70
  },
  'eng': {
    'a': 20, 
    'b': 40, 
    'c': 60, 
    'd': 80
  },
  'math': {
    'a': 33, 
    'b': 44, 
    'c': 55, 
    'd': 66
  },
}

my_dict1 = {
  "name":["William","Emma","Sofia","Markus","Edward","Thomas","Ethan","Olivia","Arun","Anika","Paulo"],
  "region":["East","North","East","South","West","West","South","West","West","East","South"],
  "sales":[50000,52000,90000,34000,42000,72000,49000,55000,67000,65000,67000],
  "expenses":[42000,43000,50000,44000,38000,39000,42000,60000,39000,44000,45000]
}


bts = { 
  "age": {
    "진": 28,
    "슈가": 27,
    "제이홉": 26,
    "RM": 26,
    "지민": 25,
    "뷔": 25,
    "정국": 23,
  },
  "height": {
    "진": 178.3,
    "슈가": 174.0,
    "제이홉": 177.0,
    "RM": 181.0,
    "지민": 174.0,
    "뷔": 179.0,
    "정국": 178.0,
  }
}

In [3]:
my_list = [[kor, eng, math]  for kor, eng, math in zip(*np.random.randint(100, size=(3, 4)))]
my_list

[[63, 72, 91], [24, 44, 77], [32, 78, 16], [56, 87, 83]]

In [5]:
my_dict2 = {
    "kor": np.random.randint(100, size=4),
    "eng": np.random.randint(100, size=4),
    "math": np.random.randint(100, size=4),
}
my_dict2

{'eng': array([89,  6, 26, 89]),
 'kor': array([57, 19, 70, 51]),
 'math': array([ 8, 43, 52, 60])}

# DataFrame산술연산
- 사칙 연산
- 나머지 연산

In [7]:
my_dict

{'eng': {'a': 20, 'b': 40, 'c': 60, 'd': 80},
 'kor': {'a': 10, 'b': 30, 'c': 50, 'd': 70},
 'math': {'a': 33, 'b': 44, 'c': 55, 'd': 66}}

In [6]:
my_df = pd.DataFrame(my_dict)
my_df

   kor  eng  math
a   10   20    33
b   30   40    44
c   50   60    55
d   70   80    66

In [8]:
my_df1 = my_df.copy()
my_df1

   kor  eng  math
a   10   20    33
b   30   40    44
c   50   60    55
d   70   80    66

In [9]:
# broadcast
# my_df + (10, 10, 10)
# my_df + ((10, 10, 10), (10, 10, 10), (10, 10, 10), (10, 10, 10))
my_df + 10 # broadcast

   kor  eng  math
a   20   30    43
b   40   50    54
c   60   70    65
d   80   90    76

In [11]:
my_df - 10

   kor  eng  math
a    0   10    23
b   20   30    34
c   40   50    45
d   60   70    56

In [12]:
my_df * 4

   kor  eng  math
a   40   80   132
b  120  160   176
c  200  240   220
d  280  320   264

In [13]:
my_df

   kor  eng  math
a   10   20    33
b   30   40    44
c   50   60    55
d   70   80    66

In [14]:
my_df['eng'] = my_df['eng'] + 100
my_df

   kor  eng  math
a   10  120    33
b   30  140    44
c   50  160    55
d   70  180    66

In [15]:
my_df // 3

   kor  eng  math
a    3   40    11
b   10   46    14
c   16   53    18
d   23   60    22

In [16]:
my_df % 3

   kor  eng  math
a    1    0     0
b    0    2     2
c    2    1     1
d    1    0     0

In [18]:
my_df2 = my_df.copy()
my_df2.index=["a","b","c","z"]

In [17]:
my_df + my_df1

   kor  eng  math
a   20  140    66
b   60  180    88
c  100  220   110
d  140  260   132

In [20]:
my_df2

   kor  eng  math
a   10  120    33
b   30  140    44
c   50  160    55
z   70  180    66

In [19]:
my_df2 + my_df1

     kor    eng   math
a   20.0  140.0   66.0
b   60.0  180.0   88.0
c  100.0  220.0  110.0
d    NaN    NaN    NaN
z    NaN    NaN    NaN

## 비교 연산
- Equal (==)
- Not Equal (!=)
- 크다 (>)
- 크거나 같다 (>=)
- 작다 (<)
- 작거나 같다 (<=)
- isin

In [21]:
my_df["kor"] == 30

a    False
b     True
c    False
d    False
Name: kor, dtype: bool

In [23]:
my_df[my_df["kor"] == 30] # 인덱스(로우)

   kor  eng  math
b   30  140    44

In [24]:
my_df["kor"] != 30

a     True
b    False
c     True
d     True
Name: kor, dtype: bool

In [25]:
my_df[my_df["kor"] != 30]

   kor  eng  math
a   10  120    33
c   50  160    55
d   70  180    66

In [26]:
my_df[my_df["kor"] > 30]

   kor  eng  math
c   50  160    55
d   70  180    66

In [29]:
my_df > 40

     kor   eng   math
a  False  True  False
b  False  True   True
c   True  True   True
d   True  True   True

In [30]:
my_df[my_df > 40]

    kor  eng  math
a   NaN  120   NaN
b   NaN  140  44.0
c  50.0  160  55.0
d  70.0  180  66.0

In [31]:
my_df['kor'].isin([30, 10])

a     True
b     True
c    False
d    False
Name: kor, dtype: bool

In [32]:
my_df[my_df['kor'].isin([30, 10])]

   kor  eng  math
a   10  120    33
b   30  140    44

In [33]:
my_df > 50

     kor   eng   math
a  False  True  False
b  False  True  False
c  False  True   True
d   True  True   True

In [34]:
my_df[my_df>50]

    kor  eng  math
a   NaN  120   NaN
b   NaN  140   NaN
c   NaN  160  55.0
d  70.0  180  66.0

## 논리 연산
- AND (&)
- OR (|)
- Not (~)

In [36]:
my_df

   kor  eng  math
a   10  120    33
b   30  140    44
c   50  160    55
d   70  180    66

In [37]:
(my_df['kor'] == 30) | (my_df['kor'] == 50)

a    False
b     True
c     True
d    False
Name: kor, dtype: bool

In [38]:
my_df[(my_df['kor'] == 30) | (my_df['kor'] == 50)]

   kor  eng  math
b   30  140    44
c   50  160    55

## query function
- fstring
- 비교연산 지원

In [42]:
my_df.query("eng>140")

   kor  eng  math
c   50  160    55
d   70  180    66

In [43]:
my_value = 140
my_df.query(f"eng>{my_value}")

   kor  eng  math
c   50  160    55
d   70  180    66

In [44]:
my_df[(my_df['kor']==30)|(my_df['eng']==50)]

   kor  eng  math
b   30  140    44

In [64]:
my_df.query("kor == 30 or eng == 160")

UndefinedVariableError: ignored

In [48]:
my_df[(my_df['kor']>=30) & (my_df["kor"] < 60)]

   kor  eng  math
b   30  140    44
c   50  160    55

In [49]:
my_df.query("kor>=30 and kor<60")

   kor  eng  math
b   30  140    44
c   50  160    55

In [50]:
my_df.query("30<=kor<60")

   kor  eng  math
b   30  140    44
c   50  160    55

In [52]:
my_df.query("kor!=50")

   kor  eng  math
a   10  120    33
b   30  140    44
d   70  180    66

In [54]:
my_df = pd.DataFrame(my_dict1)
my_df

       name region  sales  expenses
0   William   East  50000     42000
1      Emma  North  52000     43000
2     Sofia   East  90000     50000
3    Markus  South  34000     44000
4    Edward   West  42000     38000
5    Thomas   West  72000     39000
6     Ethan  South  49000     42000
7    Olivia   West  55000     60000
8      Arun   West  67000     39000
9     Anika   East  65000     44000
10    Paulo  South  67000     45000

In [55]:
my_df.query("sales in expenses")

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000

In [57]:
my_df.query("sales not in expenses")

      name region  sales  expenses
1     Emma  North  52000     43000
2    Sofia   East  90000     50000
3   Markus  South  34000     44000
5   Thomas   West  72000     39000
6    Ethan  South  49000     42000
7   Olivia   West  55000     60000
8     Arun   West  67000     39000
9    Anika   East  65000     44000
10   Paulo  South  67000     45000

In [58]:
my_expenses = list(my_df.expenses)
my_expenses

[42000, 43000, 50000, 44000, 38000, 39000, 42000, 60000, 39000, 44000, 45000]

In [59]:
my_df.query("sales in @my_expenses")

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000

In [60]:
my_df.query("sales not in @my_expenses")

      name region  sales  expenses
1     Emma  North  52000     43000
2    Sofia   East  90000     50000
3   Markus  South  34000     44000
5   Thomas   West  72000     39000
6    Ethan  South  49000     42000
7   Olivia   West  55000     60000
8     Arun   West  67000     39000
9    Anika   East  65000     44000
10   Paulo  South  67000     45000

In [62]:
my_df.query(f"sales in {my_expenses}")

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000

In [66]:
my_df[my_df['sales'].isin(my_expenses)]

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000

In [68]:
my_df

       name region  sales  expenses
0   William   East  50000     42000
1      Emma  North  52000     43000
2     Sofia   East  90000     50000
3    Markus  South  34000     44000
4    Edward   West  42000     38000
5    Thomas   West  72000     39000
6     Ethan  South  49000     42000
7    Olivia   West  55000     60000
8      Arun   West  67000     39000
9     Anika   East  65000     44000
10    Paulo  South  67000     45000

In [72]:
my_df[(my_df['sales']==50000)|(my_df['sales']==42000)]

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000

In [73]:
my_df[my_df['sales'].isin([50000, 42000])]

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000

In [69]:
my_df.query('sales in [50000, 42000]')

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000

In [70]:
my_list = [50000, 42000]
my_df.query("sales in @my_list")

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000

In [71]:
my_df.query(f"sales in {my_list}")

      name region  sales  expenses
0  William   East  50000     42000
4   Edward   West  42000     38000